.elementor-722 .elementor-element.elementor-element-f7d1e5e>.elementor-container {max-width: 1440px;}
.elementor-722 .elementor-element.elementor-element-56e0ccf>.elementor-element-populated {margin: 0;padding: 0;}
.elementor-722 .elementor-element.elementor-element-b85252e .elementor-heading-title {color: #0668b3;}
.elementor-bc-flex-widget .elementor-722 .elementor-element.elementor-element-2470985.elementor-column .elementor-column-wrap {align-items: center;}
.elementor-722 .elementor-element.elementor-element-2470985.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-722 .elementor-element.elementor-element-2470985>.elementor-element-populated {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-722 .elementor-element.elementor-element-2470985>.elementor-element-populated>.elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-722 .elementor-element.elementor-element-4638f36 .elementor-heading-title {color: #fff;font-weight: 600;}
.elementor-722 .elementor-element.elementor-element-4638f36>.elementor-widget-container {margin: 1%;padding: 2em;background-color: #0668b3;}
.elementor-722 .elementor-element.elementor-element-efd108a>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {margin-bottom: 20px;}
.elementor-722 .elementor-element.elementor-element-efd108a>.elementor-element-populated {padding: 1em;}
.elementor-722 .elementor-element.elementor-element-90c4b67 .elementor-text-editor {text-align: justify;}
.elementor-722 .elementor-element.elementor-element-6a62129>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {margin-bottom: 20px;}
.elementor-722 .elementor-element.elementor-element-6a62129>.elementor-element-populated {padding: 1em;}
.elementor-722 .elementor-element.elementor-element-d349b63 .elementor-text-editor {text-align: justify;}
.elementor-722 .elementor-element.elementor-element-4f702f5 {--divider-border-style: solid;--divider-border-color: #609cd9;--divider-border-width: 2px;}
.elementor-722 .elementor-element.elementor-element-4f702f5 .elementor-divider-separator {width: 70%;}
.elementor-722 .elementor-element.elementor-element-4f702f5 .elementor-divider {padding-top: 15px;padding-bottom: 15px;}
.elementor-722 .elementor-element.elementor-element-4f702f5>.elementor-widget-container {margin: 10px 0;}
.elementor-722 .elementor-element.elementor-element-2279de1 .elementor-heading-title {color: #0668b3;font-weight: 400;}
.elementor-722 .elementor-element.elementor-element-2279de1>.elementor-widget-container {margin: 0 0 20px;}
.elementor-722 .elementor-element.elementor-element-568caf8>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {margin-bottom: 0;}
.elementor-722 .elementor-element.elementor-element-45a2da1.elementor-position-right .elementor-image-box-img {margin-left: 24px;}
.elementor-722 .elementor-element.elementor-element-45a2da1.elementor-position-left .elementor-image-box-img {margin-right: 24px;}
.elementor-722 .elementor-element.elementor-element-45a2da1.elementor-position-top .elementor-image-box-img {margin-bottom: 24px;}
.elementor-722 .elementor-element.elementor-element-45a2da1 .elementor-image-box-wrapper .elementor-image-box-img {width: 10%;}
.elementor-722 .elementor-element.elementor-element-45a2da1 .elementor-image-box-img img {transition-duration: .3s;}
.elementor-722 .elementor-element.elementor-element-45a2da1 .elementor-image-box-content .elementor-image-box-title {font-weight: 600;}
.elementor-722 .elementor-element.elementor-element-45a2da1>.elementor-widget-container {margin: 10px 0 20px;}
.elementor-722 .elementor-element.elementor-element-b68fe14.elementor-position-right .elementor-image-box-img {margin-left: 24px;}
.elementor-722 .elementor-element.elementor-element-b68fe14.elementor-position-left .elementor-image-box-img {margin-right: 24px;}
.elementor-722 .elementor-element.elementor-element-b68fe14.elementor-position-top .elementor-image-box-img {margin-bottom: 24px;}
.elementor-722 .elementor-element.elementor-element-b68fe14 .elementor-image-box-wrapper .elementor-image-box-img {width: 10%;}
.elementor-722 .elementor-element.elementor-element-b68fe14 .elementor-image-box-img img {transition-duration: .3s;}
.elementor-722 .elementor-element.elementor-element-b68fe14 .elementor-image-box-content .elementor-image-box-title {font-weight: 600;}
.elementor-722 .elementor-element.elementor-element-b68fe14>.elementor-widget-container {margin: 10px 0 20px;}
.elementor-722 .elementor-element.elementor-element-b60ade8.elementor-position-right .elementor-image-box-img {margin-left: 24px;}
.elementor-722 .elementor-element.elementor-element-b60ade8.elementor-position-left .elementor-image-box-img {margin-right: 24px;}
.elementor-722 .elementor-element.elementor-element-b60ade8.elementor-position-top .elementor-image-box-img {margin-bottom: 24px;}
.elementor-722 .elementor-element.elementor-element-b60ade8 .elementor-image-box-wrapper .elementor-image-box-img {width: 10%;}
.elementor-722 .elementor-element.elementor-element-b60ade8 .elementor-image-box-img img {transition-duration: .3s;}
.elementor-722 .elementor-element.elementor-element-b60ade8 .elementor-image-box-content .elementor-image-box-title {font-weight: 600;}
.elementor-722 .elementor-element.elementor-element-b60ade8>.elementor-widget-container {margin: 10px 0 20px;}
.elementor-722 .elementor-element.elementor-element-67d6cec.elementor-position-right .elementor-image-box-img {margin-left: 24px;}
.elementor-722 .elementor-element.elementor-element-67d6cec.elementor-position-left .elementor-image-box-img {margin-right: 24px;}
.elementor-722 .elementor-element.elementor-element-67d6cec.elementor-position-top .elementor-image-box-img {margin-bottom: 24px;}
.elementor-722 .elementor-element.elementor-element-67d6cec .elementor-image-box-wrapper .elementor-image-box-img {width: 10%;}
.elementor-722 .elementor-element.elementor-element-67d6cec .elementor-image-box-img img {transition-duration: .3s;}
.elementor-722 .elementor-element.elementor-element-67d6cec .elementor-image-box-content .elementor-image-box-title {font-weight: 600;}
.elementor-722 .elementor-element.elementor-element-67d6cec>.elementor-widget-container {margin: 10px 0 20px;}
.elementor-722 .elementor-element.elementor-element-f7d1e5e {margin-top: 30px;margin-bottom: 30px;}
@media (min-width:768px) {.elementor-722 .elementor-element.elementor-element-56e0ccf {width: 72.321%;}
	.elementor-722 .elementor-element.elementor-element-2287f67 {width: 27.413%;}
	.elementor-722 .elementor-element.elementor-element-2470985 {width: 25.893%;}
	.elementor-722 .elementor-element.elementor-element-efd108a {width: 74.107%;}
	.elementor-722 .elementor-element.elementor-element-0931480 {width: 69.897%;}
	.elementor-722 .elementor-element.elementor-element-4dddc53 {width: 30.014%;}
	.elementor-722 .elementor-element.elementor-element-568caf8 {width: 89.972%;}
	.elementor-722 .elementor-element.elementor-element-6d08889 {width: 9.986%;}}
@media (max-width:1024px) {.elementor-722 .elementor-element.elementor-element-4f702f5 .elementor-divider {text-align: center;}
	.elementor-722 .elementor-element.elementor-element-4f702f5 .elementor-divider-separator {margin: 0 auto;margin-center: 0;}}
@media (max-width:767px) {.elementor-722 .elementor-element.elementor-element-4f702f5 .elementor-divider {text-align: center;}
	.elementor-722 .elementor-element.elementor-element-4f702f5 .elementor-divider-separator {margin: 0 auto;margin-center: 0;}
	.elementor-722 .elementor-element.elementor-element-45a2da1 .elementor-image-box-img {margin-bottom: 5px;}
	.elementor-722 .elementor-element.elementor-element-45a2da1.elementor-position-right .elementor-image-box-img {margin-left: 5px;}
	.elementor-722 .elementor-element.elementor-element-45a2da1.elementor-position-left .elementor-image-box-img {margin-right: 5px;}
	.elementor-722 .elementor-element.elementor-element-45a2da1.elementor-position-top .elementor-image-box-img {margin-bottom: 5px;}
	.elementor-722 .elementor-element.elementor-element-45a2da1 .elementor-image-box-wrapper .elementor-image-box-img {width: 30%;}
	.elementor-722 .elementor-element.elementor-element-b68fe14 .elementor-image-box-img {margin-bottom: 5px;}
	.elementor-722 .elementor-element.elementor-element-b68fe14.elementor-position-right .elementor-image-box-img {margin-left: 5px;}
	.elementor-722 .elementor-element.elementor-element-b68fe14.elementor-position-left .elementor-image-box-img {margin-right: 5px;}
	.elementor-722 .elementor-element.elementor-element-b68fe14.elementor-position-top .elementor-image-box-img {margin-bottom: 5px;}
	.elementor-722 .elementor-element.elementor-element-b68fe14 .elementor-image-box-wrapper .elementor-image-box-img {width: 30%;}
	.elementor-722 .elementor-element.elementor-element-b60ade8 .elementor-image-box-img {margin-bottom: 5px;}
	.elementor-722 .elementor-element.elementor-element-b60ade8.elementor-position-right .elementor-image-box-img {margin-left: 5px;}
	.elementor-722 .elementor-element.elementor-element-b60ade8.elementor-position-left .elementor-image-box-img {margin-right: 5px;}
	.elementor-722 .elementor-element.elementor-element-b60ade8.elementor-position-top .elementor-image-box-img {margin-bottom: 5px;}
	.elementor-722 .elementor-element.elementor-element-b60ade8 .elementor-image-box-wrapper .elementor-image-box-img {width: 30%;}
	.elementor-722 .elementor-element.elementor-element-67d6cec .elementor-image-box-img {margin-bottom: 5px;}
	.elementor-722 .elementor-element.elementor-element-67d6cec.elementor-position-right .elementor-image-box-img {margin-left: 5px;}
	.elementor-722 .elementor-element.elementor-element-67d6cec.elementor-position-left .elementor-image-box-img {margin-right: 5px;}
	.elementor-722 .elementor-element.elementor-element-67d6cec.elementor-position-top .elementor-image-box-img {margin-bottom: 5px;}
	.elementor-722 .elementor-element.elementor-element-67d6cec .elementor-image-box-wrapper .elementor-image-box-img {width: 30%;}}
.elementor-722 .elementor-element.elementor-element-45a2da1 img {width: 300px;}
.elementor-722 .elementor-element.elementor-element-b68fe14 img {width: 300px;}
.elementor-722 .elementor-element.elementor-element-b60ade8 img {width: 300px;}
.elementor-722 .elementor-element.elementor-element-67d6cec img {width: 300px;}
.elementor-722 .elementor-element.elementor-element-45a2da1 img {width: 300px;}
.elementor-722 .elementor-element.elementor-element-b68fe14 img {width: 300px;}
.elementor-722 .elementor-element.elementor-element-b60ade8 img {width: 300px;}
.elementor-722 .elementor-element.elementor-element-67d6cec img {width: 300px;}
.elementor-722 .elementor-element.elementor-element-45a2da1 img {width: 300px;}
.elementor-722 .elementor-element.elementor-element-b68fe14 img {width: 300px;}
.elementor-722 .elementor-element.elementor-element-b60ade8 img {width: 300px;}
.elementor-722 .elementor-element.elementor-element-67d6cec img {width: 300px;}
.elementor-722 .elementor-element.elementor-element-45a2da1 img {width: 300px;}
.elementor-722 .elementor-element.elementor-element-b68fe14 img {width: 300px;}
.elementor-722 .elementor-element.elementor-element-b60ade8 img {width: 300px;}
.elementor-722 .elementor-element.elementor-element-67d6cec img {width: 300px;}