.elementor-1067 .elementor-element.elementor-element-79ebf825>.elementor-container {max-width: 1440px;}
.elementor-1067 .elementor-element.elementor-element-769ac24>.elementor-element-populated {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 20px 20px 30px;}
.elementor-1067 .elementor-element.elementor-element-769ac24>.elementor-element-populated>.elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-1067 .elementor-element.elementor-element-e0a3bce>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {margin-bottom: 0;}
.elementor-1067 .elementor-element.elementor-element-7747693a .elementor-heading-title {color: #0668b3;font-size: 1.6vw;}
.elementor-1067 .elementor-element.elementor-element-8caae58>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-1067 .elementor-element.elementor-element-6040f086 .elementor-image img {width: 130px;}
.elementor-1067 .elementor-element.elementor-element-4e6d1aaa {font-size: 1vw;}
.elementor-1067 .elementor-element.elementor-element-54a0220a>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-1067 .elementor-element.elementor-element-591001e2 .elementor-image img {width: 130px;}
.elementor-1067 .elementor-element.elementor-element-66703d4a {font-size: 1vw;}
.elementor-1067 .elementor-element.elementor-element-5058f784>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-1067 .elementor-element.elementor-element-7b8e8eda .elementor-image img {width: 70px;}
.elementor-1067 .elementor-element.elementor-element-59b9eb27 {font-size: 1vw;}
.elementor-1067 .elementor-element.elementor-element-1627156e>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-1067 .elementor-element.elementor-element-a65212 .elementor-image img {width: 85px;}
.elementor-1067 .elementor-element.elementor-element-466f2316 {font-size: 1vw;}
.elementor-1067 .elementor-element.elementor-element-7f90216f>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-1067 .elementor-element.elementor-element-4c079def .elementor-image img {width: 140px;}
.elementor-1067 .elementor-element.elementor-element-436a61a2 {font-size: 1vw;}
.elementor-1067 .elementor-element.elementor-element-29c6311a .elementor-heading-title {color: #0668b3;font-size: 1.4vw;}
.elementor-1067 .elementor-element.elementor-element-790d11f7>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {margin-bottom: 10px;}
.elementor-1067 .elementor-element.elementor-element-24e868f .elementor-heading-title {color: #0668b3;font-size: 1.6vw;font-weight: 600;}
.elementor-1067 .elementor-element.elementor-element-6cd18a61 .elementor-image img {width: 240px;}
.elementor-1067 .elementor-element.elementor-element-1a1c8090 {margin-top: 0;margin-bottom: 0;}
@media (min-width:768px) {.elementor-1067 .elementor-element.elementor-element-e0a3bce {width: 64.928%;}
	.elementor-1067 .elementor-element.elementor-element-790d11f7 {width: 35.046%;}}
@media (max-width:767px) {.elementor-1067 .elementor-element.elementor-element-769ac24>.elementor-element-populated {padding: 20px 10px;}
	.elementor-1067 .elementor-element.elementor-element-e0a3bce {width: 50%;}
	.elementor-1067 .elementor-element.elementor-element-e0a3bce>.elementor-element-populated {padding: 0;}
	.elementor-1067 .elementor-element.elementor-element-54e4b0f7 {width: 40%;}
	.elementor-1067 .elementor-element.elementor-element-54e4b0f7>.elementor-element-populated {padding: 0;}
	.elementor-1067 .elementor-element.elementor-element-6dd9af61 {width: 60%;}
	.elementor-1067 .elementor-element.elementor-element-6dd9af61>.elementor-element-populated {padding: 10px;}
	.elementor-1067 .elementor-element.elementor-element-6364a790 {width: 40%;}
	.elementor-1067 .elementor-element.elementor-element-6364a790>.elementor-element-populated {padding: 0;}
	.elementor-1067 .elementor-element.elementor-element-44a6ba14 {width: 60%;}
	.elementor-1067 .elementor-element.elementor-element-44a6ba14>.elementor-element-populated {padding: 10px;}
	.elementor-1067 .elementor-element.elementor-element-1f9ef2bd {width: 40%;}
	.elementor-1067 .elementor-element.elementor-element-1f9ef2bd>.elementor-element-populated {padding: 0;}
	.elementor-1067 .elementor-element.elementor-element-7b571a6f {width: 60%;}
	.elementor-1067 .elementor-element.elementor-element-7b571a6f>.elementor-element-populated {padding: 10px;}
	.elementor-1067 .elementor-element.elementor-element-5058f784 {margin-top: 10px;margin-bottom: 10px;}
	.elementor-1067 .elementor-element.elementor-element-4a33c1be {width: 40%;}
	.elementor-1067 .elementor-element.elementor-element-4a33c1be>.elementor-element-populated {padding: 0;}
	.elementor-1067 .elementor-element.elementor-element-5019780f {width: 60%;}
	.elementor-1067 .elementor-element.elementor-element-5019780f>.elementor-element-populated {padding: 10px;}
	.elementor-1067 .elementor-element.elementor-element-1627156e {margin-top: 10px;margin-bottom: 10px;}
	.elementor-1067 .elementor-element.elementor-element-75245e71 {width: 40%;}
	.elementor-1067 .elementor-element.elementor-element-75245e71>.elementor-element-populated {padding: 0;}
	.elementor-1067 .elementor-element.elementor-element-4294e534 {width: 60%;}
	.elementor-1067 .elementor-element.elementor-element-4294e534>.elementor-element-populated {padding: 10px;}
	.elementor-1067 .elementor-element.elementor-element-7f90216f {margin-top: 10px;margin-bottom: 10px;}
	.elementor-1067 .elementor-element.elementor-element-790d11f7 {width: 50%;}
	.elementor-1067 .elementor-element.elementor-element-790d11f7>.elementor-element-populated {padding: 0;}}
.elementor-1067 .elementor-element.elementor-element-7747693a span {font-weight: 600;}
.elementor-1067 .elementor-element.elementor-element-4e6d1aaa p {margin-bottom: 0;}
.elementor-1067 .elementor-element.elementor-element-4e6d1aaa p {margin-bottom: 0;}
.elementor-1067 .elementor-element.elementor-element-66703d4a p {margin-bottom: 0;}
.elementor-1067 .elementor-element.elementor-element-66703d4a p {margin-bottom: 0;}
.elementor-1067 .elementor-element.elementor-element-59b9eb27 p {margin-bottom: 0;}
.elementor-1067 .elementor-element.elementor-element-59b9eb27 p {margin-bottom: 0;}
.elementor-1067 .elementor-element.elementor-element-466f2316 p {margin-bottom: 0;}
.elementor-1067 .elementor-element.elementor-element-466f2316 p {margin-bottom: 0;}
.elementor-1067 .elementor-element.elementor-element-436a61a2 p {margin-bottom: 0;}
.elementor-1067 .elementor-element.elementor-element-436a61a2 p {margin-bottom: 0;}
.elementor-1067 .elementor-element.elementor-element-29c6311a span {font-weight: 600;}
.elementor-1067 .elementor-element.elementor-element-24e868f span {font-weight: 600;}
.elementor-1067 .elementor-element.elementor-element-7747693a span {font-weight: 600;}
.elementor-1067 .elementor-element.elementor-element-4e6d1aaa p {margin-bottom: 0;}
.elementor-1067 .elementor-element.elementor-element-4e6d1aaa p {margin-bottom: 0;}
.elementor-1067 .elementor-element.elementor-element-66703d4a p {margin-bottom: 0;}
.elementor-1067 .elementor-element.elementor-element-66703d4a p {margin-bottom: 0;}
.elementor-1067 .elementor-element.elementor-element-59b9eb27 p {margin-bottom: 0;}
.elementor-1067 .elementor-element.elementor-element-59b9eb27 p {margin-bottom: 0;}
.elementor-1067 .elementor-element.elementor-element-466f2316 p {margin-bottom: 0;}
.elementor-1067 .elementor-element.elementor-element-466f2316 p {margin-bottom: 0;}
.elementor-1067 .elementor-element.elementor-element-436a61a2 p {margin-bottom: 0;}
.elementor-1067 .elementor-element.elementor-element-436a61a2 p {margin-bottom: 0;}
.elementor-1067 .elementor-element.elementor-element-29c6311a span {font-weight: 600;}
.elementor-1067 .elementor-element.elementor-element-24e868f span {font-weight: 600;}
.elementor-1067 .elementor-element.elementor-element-7747693a span {font-weight: 600;}
.elementor-1067 .elementor-element.elementor-element-4e6d1aaa p {margin-bottom: 0;}
.elementor-1067 .elementor-element.elementor-element-4e6d1aaa p {margin-bottom: 0;}
.elementor-1067 .elementor-element.elementor-element-66703d4a p {margin-bottom: 0;}
.elementor-1067 .elementor-element.elementor-element-66703d4a p {margin-bottom: 0;}
.elementor-1067 .elementor-element.elementor-element-59b9eb27 p {margin-bottom: 0;}
.elementor-1067 .elementor-element.elementor-element-59b9eb27 p {margin-bottom: 0;}
.elementor-1067 .elementor-element.elementor-element-466f2316 p {margin-bottom: 0;}
.elementor-1067 .elementor-element.elementor-element-466f2316 p {margin-bottom: 0;}
.elementor-1067 .elementor-element.elementor-element-436a61a2 p {margin-bottom: 0;}
.elementor-1067 .elementor-element.elementor-element-436a61a2 p {margin-bottom: 0;}
.elementor-1067 .elementor-element.elementor-element-29c6311a span {font-weight: 600;}
.elementor-1067 .elementor-element.elementor-element-24e868f span {font-weight: 600;}
.elementor-1067 .elementor-element.elementor-element-7747693a span {font-weight: 600;}
.elementor-1067 .elementor-element.elementor-element-4e6d1aaa p {margin-bottom: 0;}
.elementor-1067 .elementor-element.elementor-element-4e6d1aaa p {margin-bottom: 0;}
.elementor-1067 .elementor-element.elementor-element-66703d4a p {margin-bottom: 0;}
.elementor-1067 .elementor-element.elementor-element-66703d4a p {margin-bottom: 0;}
.elementor-1067 .elementor-element.elementor-element-59b9eb27 p {margin-bottom: 0;}
.elementor-1067 .elementor-element.elementor-element-59b9eb27 p {margin-bottom: 0;}
.elementor-1067 .elementor-element.elementor-element-466f2316 p {margin-bottom: 0;}
.elementor-1067 .elementor-element.elementor-element-466f2316 p {margin-bottom: 0;}
.elementor-1067 .elementor-element.elementor-element-436a61a2 p {margin-bottom: 0;}
.elementor-1067 .elementor-element.elementor-element-436a61a2 p {margin-bottom: 0;}
.elementor-1067 .elementor-element.elementor-element-29c6311a span {font-weight: 600;}
.elementor-1067 .elementor-element.elementor-element-24e868f span {font-weight: 600;}