.elementor-672 .elementor-element.elementor-element-bbce5d3>.elementor-container {max-width: 1440px;}
.elementor-672 .elementor-element.elementor-element-459e899>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {margin-bottom: 0;}
.elementor-bc-flex-widget .elementor-672 .elementor-element.elementor-element-9fbec3c.elementor-column .elementor-column-wrap {align-items: center;}
.elementor-672 .elementor-element.elementor-element-9fbec3c.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-672 .elementor-element.elementor-element-9fbec3c>.elementor-element-populated {padding: 1em;}
.elementor-672 .elementor-element.elementor-element-c88683d>.elementor-widget-container {margin: 20px 0;}
.elementor-672 .elementor-element.elementor-element-081f2a8 .elementor-heading-title {color: #fff;font-weight: 700;}
.elementor-672 .elementor-element.elementor-element-081f2a8>.elementor-widget-container {padding: 4%;background-color: #0668b3;}
.elementor-672 .elementor-element.elementor-element-e8f6fd9>.elementor-element-populated {padding: 1em;}
.elementor-672 .elementor-element.elementor-element-2a6ab50>.elementor-element-populated {padding: 1em;}
.elementor-672 .elementor-element.elementor-element-2a3cfb9>.elementor-element-populated {padding: 1em;}
.elementor-672 .elementor-element.elementor-element-a6e070c {margin-top: 0;margin-bottom: 0;}
@media (min-width:768px) {.elementor-672 .elementor-element.elementor-element-9fbec3c {width: 53.31%;}
	.elementor-672 .elementor-element.elementor-element-5df64dd {width: 46.445%;}}
.elementor-672 .elementor-element.elementor-element-081f2a8 h3:before {content: "“";}
.elementor-672 .elementor-element.elementor-element-081f2a8 h3:after {content: "”";}
.elementor-672 .elementor-element.elementor-element-081f2a8 h3:before, h3:after {font-family: "Proxima Nova",sans-serif;}
.elementor-672 .elementor-element.elementor-element-081f2a8 h3:before {content: "“";}
.elementor-672 .elementor-element.elementor-element-081f2a8 h3:after {content: "”";}
.elementor-672 .elementor-element.elementor-element-081f2a8 h3:before, h3:after {font-family: "Proxima Nova",sans-serif;}
.elementor-672 .elementor-element.elementor-element-081f2a8 h3:before {content: "“";}
.elementor-672 .elementor-element.elementor-element-081f2a8 h3:after {content: "”";}
.elementor-672 .elementor-element.elementor-element-081f2a8 h3:before, h3:after {font-family: "Proxima Nova",sans-serif;}
.elementor-672 .elementor-element.elementor-element-081f2a8 h3:before {content: "“";}
.elementor-672 .elementor-element.elementor-element-081f2a8 h3:after {content: "”";}
.elementor-672 .elementor-element.elementor-element-081f2a8 h3:before, h3:after {font-family: "Proxima Nova",sans-serif;}