.elementor-669 .elementor-element.elementor-element-0cf0129>.elementor-container {max-width: 1440px;}
.elementor-669 .elementor-element.elementor-element-66c6d35>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {margin-bottom: 0;}
.elementor-669 .elementor-element.elementor-element-66c6d35>.elementor-element-populated {margin: 0;}
.elementor-669 .elementor-element.elementor-element-4180de2>.elementor-element-populated {padding: 1em;}
.elementor-669 .elementor-element.elementor-element-56c4e2b>.elementor-widget-container {margin: 20px 0;}
.elementor-669 .elementor-element.elementor-element-acb0a06>.elementor-container {max-width: 1440px;}
.elementor-669 .elementor-element.elementor-element-e7da12b>.elementor-element-populated {padding: 1em;}
.elementor-669 .elementor-element.elementor-element-0baa445>.elementor-element-populated {padding: 1em;}
.elementor-669 .elementor-element.elementor-element-2e5ebfc .elementor-heading-title {color: #fff;font-weight: 700;}
.elementor-669 .elementor-element.elementor-element-2e5ebfc>.elementor-widget-container {padding: 6%;background-color: #0668b3;}
.elementor-669 .elementor-element.elementor-element-acb0a06 {margin-top: 0;margin-bottom: 0;padding: 0 0 5%;}
.elementor-669 .elementor-element.elementor-element-28ccf5c>.elementor-container {max-width: 1440px;}
.elementor-669 .elementor-element.elementor-element-28a28f3>.elementor-element-populated {padding: 1em 1em 1em 1.5em;}
.elementor-669 .elementor-element.elementor-element-2d28a3e>.elementor-element-populated {padding: 1em;}
.elementor-669 .elementor-element.elementor-element-28ccf5c {padding: 1em;}
.elementor-669 .elementor-element.elementor-element-bb9d1ed>.elementor-container {max-width: 1440px;min-height: 85vh;}
.elementor-669 .elementor-element.elementor-element-bb9d1ed>.elementor-container:after {content: "";min-height: inherit;}
.elementor-669 .elementor-element.elementor-element-8e1efbd>.elementor-element-populated {padding: 1em 1em 1em 1.5em;}
.elementor-669 .elementor-element.elementor-element-bb9d1ed {padding: 1em;}
@media (min-width:768px) {.elementor-669 .elementor-element.elementor-element-4180de2 {width: 67.394%;}
	.elementor-669 .elementor-element.elementor-element-7339581 {width: 32.188%;}}
@media (max-width:1024px) {.elementor-669 .elementor-element.elementor-element-bb9d1ed>.elementor-container {min-height: 50vh;}
	.elementor-669 .elementor-element.elementor-element-bb9d1ed>.elementor-container:after {content: "";min-height: inherit;}}
@media (max-width:767px) {.elementor-669 .elementor-element.elementor-element-bb9d1ed>.elementor-container {min-height: 30vh;}
	.elementor-669 .elementor-element.elementor-element-bb9d1ed>.elementor-container:after {content: "";min-height: inherit;}
	.elementor-669 .elementor-element.elementor-element-8e1efbd>.elementor-element-populated {padding: 0;}}
.elementor-669 .elementor-element.elementor-element-2e5ebfc h3:before {content: "“";}
.elementor-669 .elementor-element.elementor-element-2e5ebfc h3:after {content: "”";}
.elementor-669 .elementor-element.elementor-element-2e5ebfc h3:before, h3:after {font-family: "Proxima Nova",sans-serif;}
.elementor-669 .elementor-element.elementor-element-2e5ebfc h3:before {content: "“";}
.elementor-669 .elementor-element.elementor-element-2e5ebfc h3:after {content: "”";}
.elementor-669 .elementor-element.elementor-element-2e5ebfc h3:before, h3:after {font-family: "Proxima Nova",sans-serif;}
.elementor-669 .elementor-element.elementor-element-2e5ebfc h3:before {content: "“";}
.elementor-669 .elementor-element.elementor-element-2e5ebfc h3:after {content: "”";}
.elementor-669 .elementor-element.elementor-element-2e5ebfc h3:before, h3:after {font-family: "Proxima Nova",sans-serif;}
.elementor-669 .elementor-element.elementor-element-2e5ebfc h3:before {content: "“";}
.elementor-669 .elementor-element.elementor-element-2e5ebfc h3:after {content: "”";}
.elementor-669 .elementor-element.elementor-element-2e5ebfc h3:before, h3:after {font-family: "Proxima Nova",sans-serif;}