.elementor-1061 .elementor-element.elementor-element-27682d3>.elementor-container {max-width: 1440px;}
.elementor-1061 .elementor-element.elementor-element-71fc8509>.elementor-element-populated {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 20px 20px 30px;}
.elementor-1061 .elementor-element.elementor-element-71fc8509>.elementor-element-populated>.elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-1061 .elementor-element.elementor-element-4f1b9882>.elementor-element-populated {padding: 0;}
.elementor-1061 .elementor-element.elementor-element-73c4dbe7 .elementor-heading-title {color: #0668b3;font-size: 1.7em;}
.elementor-1061 .elementor-element.elementor-element-31de77c2>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {align-content: flex-end;align-items: flex-end;}
.elementor-1061 .elementor-element.elementor-element-32f8b162.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {justify-content: center;}
.elementor-1061 .elementor-element.elementor-element-32f8b162>.elementor-element-populated {margin: 0 10%;}
.elementor-1061 .elementor-element.elementor-element-5afda304 .elementor-image img {width: 100%;max-width: 100%;}
.elementor-1061 .elementor-element.elementor-element-1ac77ba.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {justify-content: center;}
.elementor-1061 .elementor-element.elementor-element-1ac77ba>.elementor-element-populated {margin: 0 10%;}
.elementor-1061 .elementor-element.elementor-element-4516718f.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {justify-content: center;}
.elementor-1061 .elementor-element.elementor-element-1163c3e3 {margin-top: 0;margin-bottom: 0;padding: 0;}
.elementor-1061 .elementor-element.elementor-element-27682d3 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-1061 .elementor-element.elementor-element-27682d3>.elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
@media (max-width:767px) {.elementor-1061 .elementor-element.elementor-element-71fc8509>.elementor-element-populated {padding: 20px 10px;}
	.elementor-1061 .elementor-element.elementor-element-73c4dbe7>.elementor-widget-container {padding: 1em;}
	.elementor-1061 .elementor-element.elementor-element-32f8b162 {width: 33.34%;}
	.elementor-1061 .elementor-element.elementor-element-1ac77ba {width: 33.34%;}
	.elementor-1061 .elementor-element.elementor-element-4516718f {width: 33.3%;}}
@media (min-width:768px) {.elementor-1061 .elementor-element.elementor-element-32f8b162 {width: 30%;}
	.elementor-1061 .elementor-element.elementor-element-1ac77ba {width: 30%;}
	.elementor-1061 .elementor-element.elementor-element-4516718f {width: 39.871%;}}
@media (max-width:1024px) and (min-width:768px) {.elementor-1061 .elementor-element.elementor-element-32f8b162 {width: 50%;}
	.elementor-1061 .elementor-element.elementor-element-1ac77ba {width: 50%;}
	.elementor-1061 .elementor-element.elementor-element-4516718f {width: 100%;}}
.elementor-1061 .elementor-element.elementor-element-73c4dbe7 span {font-weight: 600;}
.elementor-1061 .elementor-element.elementor-element-73c4dbe7 span {font-weight: 600;}
.elementor-1061 .elementor-element.elementor-element-73c4dbe7 span {font-weight: 600;}
.elementor-1061 .elementor-element.elementor-element-73c4dbe7 span {font-weight: 600;}