.elementor-844 .elementor-element.elementor-element-3f0fbcf > .elementor-container {max-width: 1440px;}
.elementor-844 .elementor-element.elementor-element-0371cd0 > .elementor-widget-container {padding: 0px 0px 20px 0px;}
.elementor-844 .elementor-element.elementor-element-0e0daa4 {padding: 1em 1em 1em 1em;}
.elementor-844 .elementor-element.elementor-element-94937f8 > .elementor-element-populated {padding: 1em 1em 1em 1em;}
.elementor-844 .elementor-element.elementor-element-0f3aad3 {text-align: center;}
.elementor-844 .elementor-element.elementor-element-0f3aad3 .elementor-heading-title {color: #fff;font-weight: 600;}
.elementor-844 .elementor-element.elementor-element-0f3aad3 > .elementor-widget-container {margin: 1% 1% 1% 1%;padding: 2em 2em 2em 2em;background-color: #0668b3;}
.elementor-844 .elementor-element.elementor-element-17a2de7 {padding: 1em 1em 1em 1em;}
.elementor-844 .elementor-element.elementor-element-b9c8d85 > .elementor-element-populated {padding: 1em 1em 1em 1em;}
.elementor-844 .elementor-element.elementor-element-7bb44a4 .elementor-heading-title {color: #fff;font-weight: 600;}
.elementor-844 .elementor-element.elementor-element-7bb44a4 > .elementor-widget-container {margin: 1% 1% 1% 1%;padding: 2em 2em 2em 2em;background-color: #0668b3;}
.elementor-bc-flex-widget .elementor-844 .elementor-element.elementor-element-160b027.elementor-column .elementor-column-wrap {align-items: center;}
.elementor-844 .elementor-element.elementor-element-160b027.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-844 .elementor-element.elementor-element-160b027 > .elementor-element-populated {padding: 1em 1em 1em 1em;}
.elementor-844 .elementor-element.elementor-element-a48934f {padding: 1em 1em 1em 1em;}
@media (min-width:768px) {.elementor-844 .elementor-element.elementor-element-c8d31e7 {width: 60.493%;}
	.elementor-844 .elementor-element.elementor-element-f5ef318 {width: 39.437%;}
	.elementor-844 .elementor-element.elementor-element-94937f8 {width: 75%;}
	.elementor-844 .elementor-element.elementor-element-253f460 {width: 25%;}
	.elementor-844 .elementor-element.elementor-element-b9c8d85 {width: 74.954%;}
	.elementor-844 .elementor-element.elementor-element-160b027 {width: 25%;}}