.elementor-1064 .elementor-element.elementor-element-265dd9d3 > .elementor-container {max-width: 1440px;}
.elementor-1064 .elementor-element.elementor-element-12a0be76 > .elementor-element-populated {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 20px 20px 30px 20px;}
.elementor-1064 .elementor-element.elementor-element-12a0be76 > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-1064 .elementor-element.elementor-element-6efb284b > .elementor-container {max-width: 1440px;}
.elementor-1064 .elementor-element.elementor-element-34e4c84a > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {margin-bottom: 10px;}
.elementor-1064 .elementor-element.elementor-element-34e4c84a > .elementor-element-populated {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 0px 0px 0px 0px;}
.elementor-1064 .elementor-element.elementor-element-34e4c84a > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-1064 .elementor-element.elementor-element-53db1844 .elementor-heading-title {color: #0668b3;font-size: 1.5vw;}
.elementor-1064 .elementor-element.elementor-element-71173dc1 > .elementor-container {max-width: 768px;}
.elementor-1064 .elementor-element.elementor-element-380ad6f3 > .elementor-element-populated {border-style: solid;border-width: 2px 2px 2px 2px;border-color: #ebb14d;transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;margin: 0% 5% 0% 5%;padding: 5% 5% 5% 5%;}
.elementor-1064 .elementor-element.elementor-element-380ad6f3 > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-1064 .elementor-element.elementor-element-77c17f87 .elementor-heading-title {color: #0668b3;font-size: 1.2vw;}
.elementor-1064 .elementor-element.elementor-element-58c3c8f7 .elementor-heading-title {color: #609cd9;font-size: 2.8vw;}
.elementor-1064 .elementor-element.elementor-element-5df554e1 .elementor-heading-title {color: #0668b3;font-size: 1.4vw;}
.elementor-1064 .elementor-element.elementor-element-72f2189d .elementor-heading-title {color: #0668b3;font-size: 1.1vw;font-weight: 600;}
.elementor-1064 .elementor-element.elementor-element-2ba3ca49 > .elementor-element-populated {border-style: solid;border-width: 2px 2px 2px 2px;border-color: #ebb14d;transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;margin: 0% 5% 0% 5%;padding: 5% 5% 5% 5%;}
.elementor-1064 .elementor-element.elementor-element-2ba3ca49 > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-1064 .elementor-element.elementor-element-721ced40 .elementor-heading-title {color: #0668b3;font-size: 1.2vw;}
.elementor-1064 .elementor-element.elementor-element-4d9a1f7f .elementor-heading-title {color: #609cd9;font-size: 2.8vw;}
.elementor-1064 .elementor-element.elementor-element-963d851 .elementor-heading-title {color: #0668b3;font-size: 1.1vw;font-weight: 600;}
.elementor-1064 .elementor-element.elementor-element-7eebd6ad > .elementor-element-populated {border-style: solid;border-width: 2px 2px 2px 2px;border-color: #ebb14d;transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;margin: 0% 5% 0% 5%;padding: 5% 5% 5% 5%;}
.elementor-1064 .elementor-element.elementor-element-7eebd6ad > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-1064 .elementor-element.elementor-element-20d91c20 .elementor-heading-title {color: #0668b3;font-size: 1.2vw;}
.elementor-1064 .elementor-element.elementor-element-18c9c1c4 .elementor-heading-title {color: #609cd9;font-size: 2.8vw;}
.elementor-1064 .elementor-element.elementor-element-28cd3a63 .elementor-heading-title {color: #0668b3;font-size: 1.2vw;font-weight: 600;}
.elementor-1064 .elementor-element.elementor-element-6efb284b {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;margin-top: 0px;margin-bottom: 0px;padding: 0% 0% 0% 0%;}
.elementor-1064 .elementor-element.elementor-element-6efb284b > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
@media (max-width:1024px) and (min-width:768px) {.elementor-1064 .elementor-element.elementor-element-380ad6f3 {width: 100%;}
	.elementor-1064 .elementor-element.elementor-element-2ba3ca49 {width: 100%;}
	.elementor-1064 .elementor-element.elementor-element-7eebd6ad {width: 100%;}}
@media (max-width:1024px) {.elementor-1064 .elementor-element.elementor-element-53db1844 .elementor-heading-title {font-size: 1.5em;}
	.elementor-1064 .elementor-element.elementor-element-380ad6f3 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {margin-bottom: 5px;}
	.elementor-1064 .elementor-element.elementor-element-77c17f87 .elementor-heading-title {font-size: 1.5em;}
	.elementor-1064 .elementor-element.elementor-element-58c3c8f7 .elementor-heading-title {font-size: 3em;}
	.elementor-1064 .elementor-element.elementor-element-5df554e1 .elementor-heading-title {font-size: 1.5em;}
	.elementor-1064 .elementor-element.elementor-element-72f2189d .elementor-heading-title {font-size: 1.5em;}
	.elementor-1064 .elementor-element.elementor-element-2ba3ca49 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {margin-bottom: 5px;}
	.elementor-1064 .elementor-element.elementor-element-721ced40 .elementor-heading-title {font-size: 1.5em;}
	.elementor-1064 .elementor-element.elementor-element-4d9a1f7f .elementor-heading-title {font-size: 3em;}
	.elementor-1064 .elementor-element.elementor-element-963d851 .elementor-heading-title {font-size: 1.5em;}
	.elementor-1064 .elementor-element.elementor-element-7eebd6ad > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {margin-bottom: 5px;}
	.elementor-1064 .elementor-element.elementor-element-20d91c20 .elementor-heading-title {font-size: 1.5em;}
	.elementor-1064 .elementor-element.elementor-element-18c9c1c4 .elementor-heading-title {font-size: 3em;}
	.elementor-1064 .elementor-element.elementor-element-28cd3a63 .elementor-heading-title {font-size: 1.5em;}}
@media (max-width:767px) {.elementor-1064 .elementor-element.elementor-element-12a0be76 > .elementor-element-populated {padding: 20px 10px 20px 10px;}
	.elementor-1064 .elementor-element.elementor-element-53db1844 > .elementor-widget-container {padding: 1em 1em 1em 1em;}
	.elementor-1064 .elementor-element.elementor-element-380ad6f3 {width: 100%;}
	.elementor-1064 .elementor-element.elementor-element-380ad6f3 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {margin-bottom: 5px;}
	.elementor-1064 .elementor-element.elementor-element-2ba3ca49 {width: 100%;}
	.elementor-1064 .elementor-element.elementor-element-2ba3ca49 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {margin-bottom: 5px;}
	.elementor-1064 .elementor-element.elementor-element-7eebd6ad {width: 100%;}
	.elementor-1064 .elementor-element.elementor-element-7eebd6ad > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {margin-bottom: 5px;}}
.elementor-1064 .elementor-element.elementor-element-53db1844 span {font-weight: 600;}
.elementor-1064 .elementor-element.elementor-element-77c17f87 span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-77c17f87 {min-height: 7vw;}
@media only screen and (max-width: 768px) {.elementor-1064 .elementor-element.elementor-element-77c17f87 {min-height: 7vw;}}
@media only screen and (max-width: 600px) {.elementor-1064 .elementor-element.elementor-element-77c17f87 {min-height: 100px;}}
.elementor-1064 .elementor-element.elementor-element-5df554e1 span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-72f2189d span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-721ced40 span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-721ced40 {min-height: 7vw;}
@media only screen and (max-width: 768px) {.elementor-1064 .elementor-element.elementor-element-721ced40 {min-height: 7vw;}}
@media only screen and (max-width: 600px) {.elementor-1064 .elementor-element.elementor-element-721ced40 {min-height: 100px;}}
.elementor-1064 .elementor-element.elementor-element-963d851 span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-20d91c20 span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-20d91c20 {min-height: 7vw;}
@media only screen and (max-width: 768px) {.elementor-1064 .elementor-element.elementor-element-20d91c20 {min-height: 7vw;}}
@media only screen and (max-width: 600px) {.elementor-1064 .elementor-element.elementor-element-20d91c20 {min-height: 100px;}}
.elementor-1064 .elementor-element.elementor-element-28cd3a63 span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-77c17f87 span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-77c17f87 {min-height: 7vw;}
@media only screen and (max-width: 768px) {.elementor-1064 .elementor-element.elementor-element-77c17f87 {min-height: 7vw;}}
@media only screen and (max-width: 600px) {.elementor-1064 .elementor-element.elementor-element-77c17f87 {min-height: 100px;}}
.elementor-1064 .elementor-element.elementor-element-5df554e1 span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-72f2189d span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-721ced40 span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-721ced40 {min-height: 7vw;}
@media only screen and (max-width: 768px) {.elementor-1064 .elementor-element.elementor-element-721ced40 {min-height: 7vw;}}
@media only screen and (max-width: 600px) {.elementor-1064 .elementor-element.elementor-element-721ced40 {min-height: 100px;}}
.elementor-1064 .elementor-element.elementor-element-963d851 span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-20d91c20 span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-20d91c20 {min-height: 7vw;}
@media only screen and (max-width: 768px) {.elementor-1064 .elementor-element.elementor-element-20d91c20 {min-height: 7vw;}}
@media only screen and (max-width: 600px) {.elementor-1064 .elementor-element.elementor-element-20d91c20 {min-height: 100px;}}
.elementor-1064 .elementor-element.elementor-element-28cd3a63 span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-53db1844 span {font-weight: 600;}
.elementor-1064 .elementor-element.elementor-element-77c17f87 span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-77c17f87 {min-height: 7vw;}
@media only screen and (max-width: 768px) {.elementor-1064 .elementor-element.elementor-element-77c17f87 {min-height: 7vw;}}
@media only screen and (max-width: 600px) {.elementor-1064 .elementor-element.elementor-element-77c17f87 {min-height: 100px;}}
.elementor-1064 .elementor-element.elementor-element-5df554e1 span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-72f2189d span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-721ced40 span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-721ced40 {min-height: 7vw;}
@media only screen and (max-width: 768px) {.elementor-1064 .elementor-element.elementor-element-721ced40 {min-height: 7vw;}}
@media only screen and (max-width: 600px) {.elementor-1064 .elementor-element.elementor-element-721ced40 {min-height: 100px;}}
.elementor-1064 .elementor-element.elementor-element-963d851 span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-20d91c20 span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-20d91c20 {min-height: 7vw;}
@media only screen and (max-width: 768px) {.elementor-1064 .elementor-element.elementor-element-20d91c20 {min-height: 7vw;}}
@media only screen and (max-width: 600px) {.elementor-1064 .elementor-element.elementor-element-20d91c20 {min-height: 100px;}}
.elementor-1064 .elementor-element.elementor-element-28cd3a63 span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-77c17f87 span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-77c17f87 {min-height: 7vw;}
@media only screen and (max-width: 768px) {.elementor-1064 .elementor-element.elementor-element-77c17f87 {min-height: 7vw;}}
@media only screen and (max-width: 600px) {.elementor-1064 .elementor-element.elementor-element-77c17f87 {min-height: 100px;}}
.elementor-1064 .elementor-element.elementor-element-5df554e1 span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-72f2189d span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-721ced40 span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-721ced40 {min-height: 7vw;}
@media only screen and (max-width: 768px) {.elementor-1064 .elementor-element.elementor-element-721ced40 {min-height: 7vw;}}
@media only screen and (max-width: 600px) {.elementor-1064 .elementor-element.elementor-element-721ced40 {min-height: 100px;}}
.elementor-1064 .elementor-element.elementor-element-963d851 span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-20d91c20 span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-20d91c20 {min-height: 7vw;}
@media only screen and (max-width: 768px) {.elementor-1064 .elementor-element.elementor-element-20d91c20 {min-height: 7vw;}}
@media only screen and (max-width: 600px) {.elementor-1064 .elementor-element.elementor-element-20d91c20 {min-height: 100px;}}
.elementor-1064 .elementor-element.elementor-element-28cd3a63 span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-53db1844 span {font-weight: 600;}
.elementor-1064 .elementor-element.elementor-element-77c17f87 span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-77c17f87 {min-height: 7vw;}
@media only screen and (max-width: 768px) {.elementor-1064 .elementor-element.elementor-element-77c17f87 {min-height: 7vw;}}
@media only screen and (max-width: 600px) {.elementor-1064 .elementor-element.elementor-element-77c17f87 {min-height: 100px;}}
.elementor-1064 .elementor-element.elementor-element-5df554e1 span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-72f2189d span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-721ced40 span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-721ced40 {min-height: 7vw;}
@media only screen and (max-width: 768px) {.elementor-1064 .elementor-element.elementor-element-721ced40 {min-height: 7vw;}}
@media only screen and (max-width: 600px) {.elementor-1064 .elementor-element.elementor-element-721ced40 {min-height: 100px;}}
.elementor-1064 .elementor-element.elementor-element-963d851 span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-20d91c20 span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-20d91c20 {min-height: 7vw;}
@media only screen and (max-width: 768px) {.elementor-1064 .elementor-element.elementor-element-20d91c20 {min-height: 7vw;}}
@media only screen and (max-width: 600px) {.elementor-1064 .elementor-element.elementor-element-20d91c20 {min-height: 100px;}}
.elementor-1064 .elementor-element.elementor-element-28cd3a63 span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-77c17f87 span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-77c17f87 {min-height: 7vw;}
@media only screen and (max-width: 768px) {.elementor-1064 .elementor-element.elementor-element-77c17f87 {min-height: 7vw;}}
@media only screen and (max-width: 600px) {.elementor-1064 .elementor-element.elementor-element-77c17f87 {min-height: 100px;}}
.elementor-1064 .elementor-element.elementor-element-5df554e1 span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-72f2189d span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-721ced40 span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-721ced40 {min-height: 7vw;}
@media only screen and (max-width: 768px) {.elementor-1064 .elementor-element.elementor-element-721ced40 {min-height: 7vw;}}
@media only screen and (max-width: 600px) {.elementor-1064 .elementor-element.elementor-element-721ced40 {min-height: 100px;}}
.elementor-1064 .elementor-element.elementor-element-963d851 span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-20d91c20 span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-20d91c20 {min-height: 7vw;}
@media only screen and (max-width: 768px) {.elementor-1064 .elementor-element.elementor-element-20d91c20 {min-height: 7vw;}}
@media only screen and (max-width: 600px) {.elementor-1064 .elementor-element.elementor-element-20d91c20 {min-height: 100px;}}
.elementor-1064 .elementor-element.elementor-element-28cd3a63 span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-53db1844 span {font-weight: 600;}
.elementor-1064 .elementor-element.elementor-element-77c17f87 span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-77c17f87 {min-height: 7vw;}
@media only screen and (max-width: 768px) {.elementor-1064 .elementor-element.elementor-element-77c17f87 {min-height: 7vw;}}
@media only screen and (max-width: 600px) {.elementor-1064 .elementor-element.elementor-element-77c17f87 {min-height: 100px;}}
.elementor-1064 .elementor-element.elementor-element-5df554e1 span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-72f2189d span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-721ced40 span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-721ced40 {min-height: 7vw;}
@media only screen and (max-width: 768px) {.elementor-1064 .elementor-element.elementor-element-721ced40 {min-height: 7vw;}}
@media only screen and (max-width: 600px) {.elementor-1064 .elementor-element.elementor-element-721ced40 {min-height: 100px;}}
.elementor-1064 .elementor-element.elementor-element-963d851 span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-20d91c20 span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-20d91c20 {min-height: 7vw;}
@media only screen and (max-width: 768px) {.elementor-1064 .elementor-element.elementor-element-20d91c20 {min-height: 7vw;}}
@media only screen and (max-width: 600px) {.elementor-1064 .elementor-element.elementor-element-20d91c20 {min-height: 100px;}}
.elementor-1064 .elementor-element.elementor-element-28cd3a63 span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-77c17f87 span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-77c17f87 {min-height: 7vw;}
@media only screen and (max-width: 768px) {.elementor-1064 .elementor-element.elementor-element-77c17f87 {min-height: 7vw;}}
@media only screen and (max-width: 600px) {.elementor-1064 .elementor-element.elementor-element-77c17f87 {min-height: 100px;}}
.elementor-1064 .elementor-element.elementor-element-5df554e1 span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-72f2189d span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-721ced40 span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-721ced40 {min-height: 7vw;}
@media only screen and (max-width: 768px) {.elementor-1064 .elementor-element.elementor-element-721ced40 {min-height: 7vw;}}
@media only screen and (max-width: 600px) {.elementor-1064 .elementor-element.elementor-element-721ced40 {min-height: 100px;}}
.elementor-1064 .elementor-element.elementor-element-963d851 span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-20d91c20 span {font-weight: normal;}
.elementor-1064 .elementor-element.elementor-element-20d91c20 {min-height: 7vw;}
@media only screen and (max-width: 768px) {.elementor-1064 .elementor-element.elementor-element-20d91c20 {min-height: 7vw;}}
@media only screen and (max-width: 600px) {.elementor-1064 .elementor-element.elementor-element-20d91c20 {min-height: 100px;}}
.elementor-1064 .elementor-element.elementor-element-28cd3a63 span {font-weight: normal;}