.elementor-644 .elementor-element.elementor-element-d9c8b8c > .elementor-container {max-width: 1440px;}
.elementor-644 .elementor-element.elementor-element-59b21f5 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {margin-bottom: 0px;}
.elementor-bc-flex-widget .elementor-644 .elementor-element.elementor-element-e6c5800.elementor-column .elementor-column-wrap {align-items: center;}
.elementor-644 .elementor-element.elementor-element-e6c5800.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-644 .elementor-element.elementor-element-ff4bffc > .elementor-widget-container {margin: 20px 0px 20px 0px;}
.elementor-644 .elementor-element.elementor-element-f164126 .elementor-heading-title {color: #fff;font-weight: bold;}
.elementor-644 .elementor-element.elementor-element-f164126 > .elementor-widget-container {padding: 3% 3% 3% 3%;background-color: #0668b3;}
@media (min-width:768px) {.elementor-644 .elementor-element.elementor-element-e6c5800 {width: 33.31%;}
	.elementor-644 .elementor-element.elementor-element-f3db190 {width: 66.69%;}}
.elementor-644 .elementor-element.elementor-element-f164126 h3:before {content: "“";}
.elementor-644 .elementor-element.elementor-element-f164126 h3:after {content: "”";}
.elementor-644 .elementor-element.elementor-element-f164126 h3:before, h3:after {font-family: "Proxima Nova",sans-serif;}
.elementor-644 .elementor-element.elementor-element-f164126 h3:before {content: "“";}
.elementor-644 .elementor-element.elementor-element-f164126 h3:after {content: "”";}
.elementor-644 .elementor-element.elementor-element-f164126 h3:before, h3:after {font-family: "Proxima Nova",sans-serif;}
.elementor-644 .elementor-element.elementor-element-f164126 h3:before {content: "“";}
.elementor-644 .elementor-element.elementor-element-f164126 h3:after {content: "”";}
.elementor-644 .elementor-element.elementor-element-f164126 h3:before, h3:after {font-family: "Proxima Nova",sans-serif;}
.elementor-644 .elementor-element.elementor-element-f164126 h3:before {content: "“";}
.elementor-644 .elementor-element.elementor-element-f164126 h3:after {content: "”";}
.elementor-644 .elementor-element.elementor-element-f164126 h3:before, h3:after {font-family: "Proxima Nova",sans-serif;}