.elementor-1042 .elementor-element.elementor-element-2b9b812 > .elementor-container {max-width: 1440px;}
.elementor-bc-flex-widget .elementor-1042 .elementor-element.elementor-element-c41fef2.elementor-column .elementor-column-wrap {align-items: center;}
.elementor-1042 .elementor-element.elementor-element-c41fef2.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-1042 .elementor-element.elementor-element-ed1f1c3 {text-align: center;width: auto;max-width: auto;align-self: center;}
.elementor-1042 .elementor-element.elementor-element-ed1f1c3 .elementor-heading-title {color: #fff;font-weight: bold;}
.elementor-1042 .elementor-element.elementor-element-ed1f1c3 > .elementor-widget-container {padding: 0px 10px 0px 10px;}
.elementor-bc-flex-widget .elementor-1042 .elementor-element.elementor-element-054ea05.elementor-column .elementor-column-wrap {align-items: center;}
.elementor-1042 .elementor-element.elementor-element-054ea05.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-1042 .elementor-element.elementor-element-bc8cbca .elementor-text-editor {text-align: left;}
.elementor-1042 .elementor-element.elementor-element-bc8cbca {color: #0668b3;font-weight: bold;line-height: 1.2em;}
.elementor-1042 .elementor-element.elementor-element-328cfef {margin-top: 0px;margin-bottom: 0px;}
.elementor-1042 .elementor-element.elementor-element-dac275a .elementor-heading-title {color: #0668b3;font-weight: bold;}
.elementor-1042 .elementor-element.elementor-element-cb0b06e {color: #609cd9;line-height: 1.2em;}
.elementor-1042 .elementor-element.elementor-element-acff3b5 .elementor-heading-title {color: #0668b3;font-weight: bold;}
.elementor-1042 .elementor-element.elementor-element-8885865 {color: #609cd9;line-height: 1.2em;}
.elementor-1042 .elementor-element.elementor-element-6fc42dd .elementor-heading-title {color: #0668b3;font-weight: bold;}
.elementor-1042 .elementor-element.elementor-element-514d5e8 {color: #609cd9;line-height: 1.2em;}
.elementor-1042 .elementor-element.elementor-element-fe67eee > .elementor-element-populated {padding: 10px 10px 10px 10px;}
.elementor-1042 .elementor-element.elementor-element-4a5ba7f .elementor-heading-title {color: #0668b3;font-weight: bold;}
.elementor-1042 .elementor-element.elementor-element-4ce355f {color: #609cd9;line-height: 1.2em;}
.elementor-1042 .elementor-element.elementor-element-2e06491 .elementor-heading-title {color: #0668b3;font-weight: bold;}
.elementor-1042 .elementor-element.elementor-element-310348d > .elementor-element-populated {padding: 10px 10px 10px 10px;}
.elementor-1042 .elementor-element.elementor-element-9ba6d6e .elementor-heading-title {color: #609cd9;font-weight: bold;}
.elementor-1042 .elementor-element.elementor-element-1936276 .elementor-text-editor {text-align: left;}
.elementor-1042 .elementor-element.elementor-element-1936276 {font-size: 12px;line-height: 1.2em;}
.elementor-1042 .elementor-element.elementor-element-af1ea38 > .elementor-element-populated {padding: 10px 10px 10px 10px;}
.elementor-1042 .elementor-element.elementor-element-b8804ef .elementor-heading-title {color: #609cd9;font-weight: bold;}
.elementor-1042 .elementor-element.elementor-element-fc91cfd .elementor-text-editor {text-align: left;}
.elementor-1042 .elementor-element.elementor-element-fc91cfd {font-size: 12px;line-height: 1.2em;}
.elementor-1042 .elementor-element.elementor-element-fa4c94f > .elementor-element-populated {padding: 10px 10px 10px 10px;}
.elementor-1042 .elementor-element.elementor-element-05bbddc .elementor-heading-title {color: #609cd9;font-weight: bold;}
.elementor-1042 .elementor-element.elementor-element-6d02472 .elementor-text-editor {text-align: left;}
.elementor-1042 .elementor-element.elementor-element-6d02472 {font-size: 12px;line-height: 1.2em;}
.elementor-1042 .elementor-element.elementor-element-b2cfbde > .elementor-element-populated {padding: 10px 10px 10px 10px;}
.elementor-1042 .elementor-element.elementor-element-d1d1db3 .elementor-heading-title {color: #609cd9;font-weight: bold;}
.elementor-1042 .elementor-element.elementor-element-24a8a68 .elementor-text-editor {text-align: left;}
.elementor-1042 .elementor-element.elementor-element-24a8a68 {font-size: 12px;line-height: 1.2em;}
.elementor-1042 .elementor-element.elementor-element-03c42b7:not(.elementor-motion-effects-element-type-background), .elementor-1042 .elementor-element.elementor-element-03c42b7 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #fff;}
.elementor-1042 .elementor-element.elementor-element-03c42b7 {border-style: solid;border-width: 2px 2px 2px 2px;border-color: #ebb14d;transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-1042 .elementor-element.elementor-element-03c42b7 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-1042 .elementor-element.elementor-element-4724620 .elementor-heading-title {color: #0668b3;font-weight: bold;}
.elementor-1042 .elementor-element.elementor-element-04a1bd7 {color: #609cd9;line-height: 1.2em;}
.elementor-1042 .elementor-element.elementor-element-607b541 .elementor-heading-title {color: #0668b3;font-weight: bold;}
.elementor-1042 .elementor-element.elementor-element-4b102a8 {color: #609cd9;line-height: 1.2em;}
.elementor-1042 .elementor-element.elementor-element-b14b365 .elementor-heading-title {color: #0668b3;font-weight: bold;}
.elementor-1042 .elementor-element.elementor-element-764ba82 {color: #609cd9;line-height: 1.2em;}
.elementor-1042 .elementor-element.elementor-element-ad6430d > .elementor-element-populated {padding: 10px 10px 10px 10px;}
.elementor-1042 .elementor-element.elementor-element-53854b5 .elementor-heading-title {color: #0668b3;font-weight: bold;}
.elementor-1042 .elementor-element.elementor-element-ec6c0e2 {color: #609cd9;line-height: 1.2em;}
.elementor-1042 .elementor-element.elementor-element-b78fc3d .elementor-heading-title {color: #0668b3;font-weight: bold;}
.elementor-1042 .elementor-element.elementor-element-acd0075 > .elementor-element-populated {padding: 10px 10px 10px 10px;}
.elementor-1042 .elementor-element.elementor-element-1f14ec0 .elementor-heading-title {color: #609cd9;font-weight: bold;}
.elementor-1042 .elementor-element.elementor-element-af4c465 .elementor-text-editor {text-align: left;}
.elementor-1042 .elementor-element.elementor-element-af4c465 {font-size: 12px;line-height: 1.2em;}
.elementor-1042 .elementor-element.elementor-element-f2edb2d > .elementor-element-populated {padding: 10px 10px 10px 10px;}
.elementor-1042 .elementor-element.elementor-element-fc9cdb4 .elementor-heading-title {color: #609cd9;font-weight: bold;}
.elementor-1042 .elementor-element.elementor-element-13d3dc3 .elementor-text-editor {text-align: left;}
.elementor-1042 .elementor-element.elementor-element-13d3dc3 {font-size: 12px;line-height: 1.2em;}
.elementor-1042 .elementor-element.elementor-element-c8188e4 > .elementor-element-populated {padding: 10px 10px 10px 10px;}
.elementor-1042 .elementor-element.elementor-element-bf554ac .elementor-heading-title {color: #609cd9;font-weight: bold;}
.elementor-1042 .elementor-element.elementor-element-74735e0 .elementor-text-editor {text-align: left;}
.elementor-1042 .elementor-element.elementor-element-74735e0 {font-size: 12px;line-height: 1.2em;}
.elementor-1042 .elementor-element.elementor-element-968d1eb > .elementor-element-populated {padding: 10px 10px 10px 10px;}
.elementor-1042 .elementor-element.elementor-element-71fda52 .elementor-heading-title {color: #609cd9;font-weight: bold;}
.elementor-1042 .elementor-element.elementor-element-1d3789f .elementor-text-editor {text-align: left;}
.elementor-1042 .elementor-element.elementor-element-1d3789f {font-size: 12px;line-height: 1.2em;}
.elementor-1042 .elementor-element.elementor-element-b941932:not(.elementor-motion-effects-element-type-background), .elementor-1042 .elementor-element.elementor-element-b941932 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #fff;}
.elementor-1042 .elementor-element.elementor-element-b941932 {border-style: solid;border-width: 2px 2px 2px 2px;border-color: #ebb14d;transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-1042 .elementor-element.elementor-element-b941932 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-1042 .elementor-element.elementor-element-2b9b812:not(.elementor-motion-effects-element-type-background), .elementor-1042 .elementor-element.elementor-element-2b9b812 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #f6f0e5;}
.elementor-1042 .elementor-element.elementor-element-2b9b812 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 0px 0px 50px 0px;}
.elementor-1042 .elementor-element.elementor-element-2b9b812 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
@media (min-width:768px) {.elementor-1042 .elementor-element.elementor-element-c41fef2 {width: 10%;}
	.elementor-1042 .elementor-element.elementor-element-054ea05 {width: 90%;}}
@media (max-width:1024px) and (min-width:768px) {.elementor-1042 .elementor-element.elementor-element-fb01d04 {width: 20%;}
	.elementor-1042 .elementor-element.elementor-element-6ee9b65 {width: 20%;}
	.elementor-1042 .elementor-element.elementor-element-d7ebc5f {width: 20%;}
	.elementor-1042 .elementor-element.elementor-element-92a94ea {width: 20%;}
	.elementor-1042 .elementor-element.elementor-element-ad6430d {width: 20%;}
	.elementor-1042 .elementor-element.elementor-element-b736e81 {width: 20%;}
	.elementor-1042 .elementor-element.elementor-element-acd0075 {width: 20%;}
	.elementor-1042 .elementor-element.elementor-element-f2edb2d {width: 20%;}
	.elementor-1042 .elementor-element.elementor-element-c8188e4 {width: 20%;}
	.elementor-1042 .elementor-element.elementor-element-968d1eb {width: 20%;}}
.elementor-1042 .elementor-element.elementor-element-ed1f1c3.pointer {background: #0668b3;align-content: center;justify-content: center;vertical-align: middle;}
.elementor-1042 .elementor-element.elementor-element-ed1f1c3.pointer:after {content: "  ";position: absolute;left: 100%;top: 0;width: 100%;height: 100%;border-left: 15px solid #0668b3;border-top: 10px solid transparent;border-bottom: 10px solid transparent;}
.elementor-1042 .elementor-element.elementor-element-bc8cbca p {margin: 0;}
.elementor-1042 .elementor-element.elementor-element-ed1f1c3.pointer {background: #0668b3;align-content: center;justify-content: center;vertical-align: middle;}
.elementor-1042 .elementor-element.elementor-element-ed1f1c3.pointer:after {content: "  ";position: absolute;left: 100%;top: 0;width: 100%;height: 100%;border-left: 15px solid #0668b3;border-top: 10px solid transparent;border-bottom: 10px solid transparent;}
.elementor-1042 .elementor-element.elementor-element-bc8cbca p {margin: 0;}
.elementor-1042 .elementor-element.elementor-element-1936276 p {margin: 0;}
.elementor-1042 .elementor-element.elementor-element-fc91cfd p {margin: 0;}
.elementor-1042 .elementor-element.elementor-element-6d02472 p {margin: 0;}
.elementor-1042 .elementor-element.elementor-element-24a8a68 p {margin: 0;}
.elementor-1042 .elementor-element.elementor-element-1936276 p {margin: 0;}
.elementor-1042 .elementor-element.elementor-element-fc91cfd p {margin: 0;}
.elementor-1042 .elementor-element.elementor-element-6d02472 p {margin: 0;}
.elementor-1042 .elementor-element.elementor-element-24a8a68 p {margin: 0;}
.elementor-1042 .elementor-element.elementor-element-af4c465 p {margin: 0;}
.elementor-1042 .elementor-element.elementor-element-13d3dc3 p {margin: 0;}
.elementor-1042 .elementor-element.elementor-element-74735e0 p {margin: 0;}
.elementor-1042 .elementor-element.elementor-element-1d3789f p {margin: 0;}
.elementor-1042 .elementor-element.elementor-element-af4c465 p {margin: 0;}
.elementor-1042 .elementor-element.elementor-element-13d3dc3 p {margin: 0;}
.elementor-1042 .elementor-element.elementor-element-74735e0 p {margin: 0;}
.elementor-1042 .elementor-element.elementor-element-1d3789f p {margin: 0;}
.elementor-1042 .elementor-element.elementor-element-ed1f1c3.pointer {background: #0668b3;align-content: center;justify-content: center;vertical-align: middle;}
.elementor-1042 .elementor-element.elementor-element-ed1f1c3.pointer:after {content: "  ";position: absolute;left: 100%;top: 0;width: 100%;height: 100%;border-left: 15px solid #0668b3;border-top: 10px solid transparent;border-bottom: 10px solid transparent;}
.elementor-1042 .elementor-element.elementor-element-bc8cbca p {margin: 0;}
.elementor-1042 .elementor-element.elementor-element-ed1f1c3.pointer {background: #0668b3;align-content: center;justify-content: center;vertical-align: middle;}
.elementor-1042 .elementor-element.elementor-element-ed1f1c3.pointer:after {content: "  ";position: absolute;left: 100%;top: 0;width: 100%;height: 100%;border-left: 15px solid #0668b3;border-top: 10px solid transparent;border-bottom: 10px solid transparent;}
.elementor-1042 .elementor-element.elementor-element-bc8cbca p {margin: 0;}
.elementor-1042 .elementor-element.elementor-element-1936276 p {margin: 0;}
.elementor-1042 .elementor-element.elementor-element-fc91cfd p {margin: 0;}
.elementor-1042 .elementor-element.elementor-element-6d02472 p {margin: 0;}
.elementor-1042 .elementor-element.elementor-element-24a8a68 p {margin: 0;}
.elementor-1042 .elementor-element.elementor-element-1936276 p {margin: 0;}
.elementor-1042 .elementor-element.elementor-element-fc91cfd p {margin: 0;}
.elementor-1042 .elementor-element.elementor-element-6d02472 p {margin: 0;}
.elementor-1042 .elementor-element.elementor-element-24a8a68 p {margin: 0;}
.elementor-1042 .elementor-element.elementor-element-af4c465 p {margin: 0;}
.elementor-1042 .elementor-element.elementor-element-13d3dc3 p {margin: 0;}
.elementor-1042 .elementor-element.elementor-element-74735e0 p {margin: 0;}
.elementor-1042 .elementor-element.elementor-element-1d3789f p {margin: 0;}
.elementor-1042 .elementor-element.elementor-element-af4c465 p {margin: 0;}
.elementor-1042 .elementor-element.elementor-element-13d3dc3 p {margin: 0;}
.elementor-1042 .elementor-element.elementor-element-74735e0 p {margin: 0;}
.elementor-1042 .elementor-element.elementor-element-1d3789f p {margin: 0;}