.elementor-1033 .elementor-element.elementor-element-34d632d > .elementor-container {max-width: 1440px;}
.elementor-1033 .elementor-element.elementor-element-19d4236 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {margin-bottom: 0px;}
.elementor-1033 .elementor-element.elementor-element-19d4236 > .elementor-element-populated {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;margin: 0px 0px 0px 0px;}
.elementor-1033 .elementor-element.elementor-element-19d4236 > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-1033 .elementor-element.elementor-element-8b3969f .elementor-image img {width: 360px;}
.elementor-1033 .elementor-element.elementor-element-8b3969f > .elementor-widget-container {margin: -50px 0px 0px 0px;}
.elementor-bc-flex-widget .elementor-1033 .elementor-element.elementor-element-92352bd.elementor-column .elementor-column-wrap {align-items: center;}
.elementor-1033 .elementor-element.elementor-element-92352bd.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-1033 .elementor-element.elementor-element-adc4066 {text-align: center;}
.elementor-1033 .elementor-element.elementor-element-adc4066 .elementor-heading-title {color: #ebb14d;}
.elementor-1033 .elementor-element.elementor-element-8b86e3e .elementor-text-editor {text-align: left;}
.elementor-1033 .elementor-element.elementor-element-8b86e3e {color: #fff;line-height: 1em;}
.elementor-1033 .elementor-element.elementor-element-8b86e3e > .elementor-widget-container {padding: 5px 10px 5px 10px;background-color: #ebb14d;}
.elementor-1033 .elementor-element.elementor-element-5f4321e .elementor-text-editor {text-align: left;}
.elementor-1033 .elementor-element.elementor-element-5f4321e {color: #fff;line-height: 1em;}
.elementor-1033 .elementor-element.elementor-element-5f4321e > .elementor-widget-container {padding: 5px 10px 5px 10px;background-color: #ebb14d;}
.elementor-1033 .elementor-element.elementor-element-5b6b1f9 .elementor-text-editor {text-align: left;}
.elementor-1033 .elementor-element.elementor-element-5b6b1f9 {color: #fff;line-height: 1em;}
.elementor-1033 .elementor-element.elementor-element-5b6b1f9 > .elementor-widget-container {padding: 5px 10px 5px 10px;background-color: #ebb14d;}
.elementor-1033 .elementor-element.elementor-element-5967c52 .elementor-text-editor {text-align: left;}
.elementor-1033 .elementor-element.elementor-element-5967c52 {color: #fff;line-height: 1em;}
.elementor-1033 .elementor-element.elementor-element-5967c52 > .elementor-widget-container {padding: 5px 10px 5px 10px;background-color: #ebb14d;}
.elementor-1033 .elementor-element.elementor-element-61f47e9 {margin-top: 0px;margin-bottom: 0px;}
.elementor-bc-flex-widget .elementor-1033 .elementor-element.elementor-element-e705266.elementor-column .elementor-column-wrap {align-items: center;}
.elementor-1033 .elementor-element.elementor-element-e705266.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-1033 .elementor-element.elementor-element-8efae6c {text-align: center;}
.elementor-1033 .elementor-element.elementor-element-8efae6c .elementor-heading-title {color: #fff;}
.elementor-1033 .elementor-element.elementor-element-a3e2bb9 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {margin-bottom: 10px;}
.elementor-1033 .elementor-element.elementor-element-f80c59a .elementor-text-editor {text-align: left;}
.elementor-1033 .elementor-element.elementor-element-f80c59a {color: #fff;line-height: 1em;}
.elementor-1033 .elementor-element.elementor-element-f80c59a > .elementor-widget-container {padding: 5px 20px 5px 20px;background-color: #609cd9;}
.elementor-1033 .elementor-element.elementor-element-05b9096 .elementor-text-editor {text-align: left;}
.elementor-1033 .elementor-element.elementor-element-05b9096 {color: #fff;line-height: 1em;}
.elementor-1033 .elementor-element.elementor-element-05b9096 > .elementor-widget-container {padding: 5px 20px 5px 20px;background-color: #609cd9;}
.elementor-1033 .elementor-element.elementor-element-e9ca07c .elementor-text-editor {text-align: left;}
.elementor-1033 .elementor-element.elementor-element-e9ca07c {color: #fff;line-height: 1em;}
.elementor-1033 .elementor-element.elementor-element-e9ca07c > .elementor-widget-container {padding: 5px 20px 5px 20px;background-color: #609cd9;}
.elementor-1033 .elementor-element.elementor-element-f79d146 .elementor-text-editor {text-align: left;}
.elementor-1033 .elementor-element.elementor-element-f79d146 {color: #fff;line-height: 1em;}
.elementor-1033 .elementor-element.elementor-element-f79d146 > .elementor-widget-container {padding: 5px 20px 5px 20px;background-color: #609cd9;}
.elementor-1033 .elementor-element.elementor-element-0d47011 {margin-top: 0px;margin-bottom: 0px;}
.elementor-1033 .elementor-element.elementor-element-34d632d:not(.elementor-motion-effects-element-type-background), .elementor-1033 .elementor-element.elementor-element-34d632d > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #666;}
.elementor-1033 .elementor-element.elementor-element-34d632d > .elementor-background-overlay {background-color: #666;opacity: .5;transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-1033 .elementor-element.elementor-element-34d632d {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;margin-top: 50px;margin-bottom: 0px;}
@media (min-width:768px) {.elementor-1033 .elementor-element.elementor-element-e705266 {width: 20%;}
	.elementor-1033 .elementor-element.elementor-element-a3e2bb9 {width: 79.989%;}}
.elementor-1033 .elementor-element.elementor-element-8b86e3e p {min-height: 100px;margin: 0;}
.elementor-1033 .elementor-element.elementor-element-5f4321e p {min-height: 100px;margin: 0;}
.elementor-1033 .elementor-element.elementor-element-5b6b1f9 p {min-height: 100px;margin: 0;}
.elementor-1033 .elementor-element.elementor-element-5967c52 p {min-height: 100px;margin: 0;}
.elementor-1033 .elementor-element.elementor-element-8b86e3e p {min-height: 100px;margin: 0;}
.elementor-1033 .elementor-element.elementor-element-5f4321e p {min-height: 100px;margin: 0;}
.elementor-1033 .elementor-element.elementor-element-5b6b1f9 p {min-height: 100px;margin: 0;}
.elementor-1033 .elementor-element.elementor-element-5967c52 p {min-height: 100px;margin: 0;}
.elementor-1033 .elementor-element.elementor-element-f80c59a p {min-height: 40px;margin: 0;}
.elementor-1033 .elementor-element.elementor-element-05b9096 p {min-height: 40px;margin: 0;}
.elementor-1033 .elementor-element.elementor-element-e9ca07c p {min-height: 40px;margin: 0;}
.elementor-1033 .elementor-element.elementor-element-f79d146 p {min-height: 40px;margin: 0;}
.elementor-1033 .elementor-element.elementor-element-f80c59a p {min-height: 40px;margin: 0;}
.elementor-1033 .elementor-element.elementor-element-05b9096 p {min-height: 40px;margin: 0;}
.elementor-1033 .elementor-element.elementor-element-e9ca07c p {min-height: 40px;margin: 0;}
.elementor-1033 .elementor-element.elementor-element-f79d146 p {min-height: 40px;margin: 0;}
.elementor-1033 .elementor-element.elementor-element-8b86e3e p {min-height: 100px;margin: 0;}
.elementor-1033 .elementor-element.elementor-element-5f4321e p {min-height: 100px;margin: 0;}
.elementor-1033 .elementor-element.elementor-element-5b6b1f9 p {min-height: 100px;margin: 0;}
.elementor-1033 .elementor-element.elementor-element-5967c52 p {min-height: 100px;margin: 0;}
.elementor-1033 .elementor-element.elementor-element-8b86e3e p {min-height: 100px;margin: 0;}
.elementor-1033 .elementor-element.elementor-element-5f4321e p {min-height: 100px;margin: 0;}
.elementor-1033 .elementor-element.elementor-element-5b6b1f9 p {min-height: 100px;margin: 0;}
.elementor-1033 .elementor-element.elementor-element-5967c52 p {min-height: 100px;margin: 0;}
.elementor-1033 .elementor-element.elementor-element-f80c59a p {min-height: 40px;margin: 0;}
.elementor-1033 .elementor-element.elementor-element-05b9096 p {min-height: 40px;margin: 0;}
.elementor-1033 .elementor-element.elementor-element-e9ca07c p {min-height: 40px;margin: 0;}
.elementor-1033 .elementor-element.elementor-element-f79d146 p {min-height: 40px;margin: 0;}
.elementor-1033 .elementor-element.elementor-element-f80c59a p {min-height: 40px;margin: 0;}
.elementor-1033 .elementor-element.elementor-element-05b9096 p {min-height: 40px;margin: 0;}
.elementor-1033 .elementor-element.elementor-element-e9ca07c p {min-height: 40px;margin: 0;}
.elementor-1033 .elementor-element.elementor-element-f79d146 p {min-height: 40px;margin: 0;}